html {
  overflow-x: hidden;
  font-family: Helvetica;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 625%;
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0;
  color: #fff;
  background-color: #e7001d;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}
input {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0.5rem;
  font-size: 0.18rem;
}
input::-webkit-input-placeholder {
  color: #ffc10085;
}
img {
  pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  -moz-pointer-events: none;
}
.none {
  display: none;
}

.index_start img {
  position: absolute;
  top: -0.45rem;
  left: 0;
  width: 100%;
  z-index: 5;
}
/* 对话框 */
.index_talk {
  position: absolute;
  top:100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: #e7001d
}
.index_talk_list {
  height: 85%;
  overflow: scroll;
}
/* 自己 */
.im_me {
  padding: 10px 0 10px 5%;
  width: 95%;
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
}
.im_me_talk {
  position: relative;
  max-width: 80%;
  background: transparent;
}
.im_me_name {
  line-height: 1.5;
  font-size: 12px;
  text-align: end;
}
.im_me_name span {
  margin-right: 25px;
}
.im_me_text {
  color: #000;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  word-wrap: break-word;
  position: relative;
}
.im_me_upimg {
  width: 100%;
}
.im_me_img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background: transparent;
}
.im_me_img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.talk_icon {
  position: absolute;
  top: 5px;
  left: -30px;
  width: 30px;
  height: 30px;
}
/* 对方 */
.im_user {
  padding: 10px 5% 10px 0;
  width: 95%;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
}
.im_user_name {
  line-height: 1.5;
  font-size: 12px;
  text-align: start;
}
.im_user_name span {
  margin-left: 25px;
}
.im_user_text {
  color: #000;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  word-wrap: break-word;
}
.im_user_upimg {
  width: 100%;
}
.im_user_upimg img {
  float: left;
  width: 100%;
  height: 100%;
}
.im_me_upimg img {
  float: right;
  width: 100%;
  height: 100%;
}
.talk_loading {
  top: 30%;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 1;
}
.talk_loading img {
  width: 170px;
  height: 100px;
}
.talk_next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  z-index: 1;
}
.talk_next .next_body {
  position: relative;
  margin: 50% auto;
  background: #fff;
  width: 65%;
  color: #000;
  font-size: 0.14rem;
}
.next_body_text {
  padding: 0.7rem 0.2rem 0.25rem 0.2rem;
  border-bottom: 1px solid #eeeeee;
}
.next_img {
  position: absolute;
  top: -0.35rem;
  left: 0;
  width: 100%;
  text-align: center;
  height: 1rem;
}
.next_img img {
  width: 1rem;
  height: 1rem;
}
.next_body_btn {
  background: #fff;
  height: 0.4rem;
}
.next_body_root {
  color: #999999;
}
.next_body_question {
  color: #e7001d;
}
.next_body_root,
.next_body_question {
  font-size: 0.16rem;
  width: 49%;
  height: 0.4rem;
  line-height: 0.4rem;
  float: left;
}
.next_body_root + .next_body_question {
  border-left: 1px solid #eeeeee;
}
.playend {
  width: 10px;
  height: 10px;
}
.change_question {
  position: absolute;
  top: 0.18rem;
  right: -0.6rem;
  border: 1px solid #ffc100;
  background: #e7001d;
  color: #fff;
  border-radius: 0.1rem;
  padding: 0.09rem;
  font-size: 0.14rem;
}
/* 按钮 */
.talk_luyin {
  width: 100%;
  margin: auto;
  height: 15%;
  z-index: 2;
}
.talk_onlong {
  width: 1.9rem;
  height: 0.55rem;
  background: url("../images/clicklong.png");
  background-size: 100% 100%;
  border: none;
}
/* 尾页 */
.index_end_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/start.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  z-index: 1;
}
.index_end {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.end_title {
  font-size: 20px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 20%;
  left: 0;
}
.end_content {
  font-size: 14px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 25%;
  left: 0;
}
.end_clickget {
  width: 100%;
  margin: auto;
  position: fixed;
  top: 55%;
  left: 0;
}
.end_share {
  width: 100%;
  margin: auto;
  position: fixed;
  top: 70%;
  left: 0;
}
.index_end img {
  width: 100%;
}
.talk_show {
  position: relative;
  width: 1.8rem;
  padding-top: 0.2rem;
  margin: auto;
}

.end_clickget div,
.end_share div {
  width: 1.9rem;
  height: 0.55rem;
  margin: auto;
}
.share_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.share_btn div {
  margin-top: 30%;
  width: 100%;
  text-align: center;
  font-size: 0.3rem;
}
/* 按钮效果 */
.live {
  position: relative;
  width: 1.9rem;
}
@keyframes living {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    opacity: 0; /*圆形放大的同时，透明度逐渐减小为0*/
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
.live span {
  position: absolute;
  width: 1.9rem;
  height: 0.55rem;
  margin-top: 0.2rem;
  left: 2px;
  top: 0;
  background: #ffc100;
  border-radius: 50px;
  opacity: 0;
  -webkit-animation: living 3s linear infinite;
  z-index: -1;
}
.live span:nth-child(2) {
  -webkit-animation-delay: 1.5s; /*第二个span动画延迟1.5秒*/
}
/* 弹窗 */
.setPhone {
  z-index: 99;
  position: absolute;
  top: 35%;
  left: 19%;
  width: 60%;
  background: #e7001d;
  text-align: center;
  padding: 0.1rem;
  border-radius: 0.1rem;
  color: #fff;
  border: 1px solid #ffc100;
}
.getPhone {
  margin: 57% 6%;
  opacity: 0.93;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffc100;
  border-radius: 0.5rem;
  padding-left: 8%;
  width: 80%;
  font-size: 0.18rem;
  color: #ffc100;
}
.download {
  width: 100%;
  font-size: 0.16rem;
}
.getPhone_btn {
  position: absolute;
  top: 45%;
  left: 6%;
  opacity: 0.93;
  width: 88%;
  height: 0.6rem;
}
.download_btn {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.16rem;
  background: #e7001d;
}
.rule_bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
}
.loading_content {
  width: 0.5rem;
  height: 0.5rem;
  margin: 80% auto;
}
.turn {
  width: 100%;
  height: 100%;
  animation: audioRotate 5s infinite linear;
}
.logo_turn {
  width: 1rem !important;
  animation: DRotate 5s infinite linear;
}
@keyframes audioRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes DRotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.end_ps {
  position: fixed;
  bottom: 0.1rem;
  right: 0.1rem;
}
.index_first,
.index_start {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.first_new {
  width: 100%;
  z-index: 6;
}
.first_sun,
.cloud_left,
.cloud_right,
.first_start {
  position: absolute;
  z-index: 7;
}
.first_start {
  top: 77%;
  left: 39%;
  width: 0.8rem;
}
.first_sun {
  top: 65%;
  left: 23%;
  width: 2rem;
  animation: sun 10s infinite linear;
  -webkit-animation: sun 10s infinite linear;
}
.cloud_left {
  top: 46%;
  left: 0;
  width: 1.9rem;
}
.left{
  animation: left 3s linear;
  -webkit-animation: left 3s linear;
}
.cloud_right {
  top: 46%;
  right: 0;
  width: 1.9rem;
}
.right{
  animation: right 3s linear;
  -webkit-animation: right 3s linear;
}
@keyframes sun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes left {
  0% {
    left:0;
  }
  100% {
    left:-50%;
  }
}
@keyframes right {
  0% {
    right:0;
  }
  100% {
    right:-50%;
  }
}
@-webkit-keyframes sun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes left {
  0% {
    left:0;
  }
  100% {
    left:-50%;
  }
}
@-webkit-keyframes right {
  0% {
    right:0;
  }
  100% {
    right:-50%;
  }
}
.setAnswer{
  background: #e7001d;
  border: 3px solid #ffc100;
  border-radius: 0.5rem;
  height: .4rem;
  padding-left: .1rem;
  color: #ffffff;
}
.answer{
  position: absolute;
  top: .2rem;
  right: -.1rem;
  height: .4rem;
  width: .4rem;
  line-height: .4rem;
  text-align: center;
  font-size: .24rem;
  border: 3px solid #ffc100;
  border-radius: .5rem;
}